body {
    background-image: linear-gradient(to right, red , yellow);
}

form { 
    margin: 0 auto; 
    width:400px;
    padding: 40px;
}

input {
    width: 360px;
    min-height: 20px;
    border: none; 
    outline: none;
    vertical-align: middle;
    background-color: white;
  }

button[name="submit"] {
    margin-left: -15%;
    border: none;
    background-color: white;   
  } 
#field1 {
  width:400px;
}
#field2 {
  width:400px;
}  

#id {
  width: 20px;
}