<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <title>Title</title>
</head>
<body>

  <form method="POST">
{{ form.hidden_tag() }}
    <div>
      <h1 class="text">Please, add an information about the city! </h1>
        <p>{{ form.city_name(size=32) }} </p>
        <p>{{ form.country(size=32) }} </p>
        <p>{{ form.inhabitants(size=32) }} </p>
        <p>{{ form.area(size=32) }} </p>
        <p>{{ form.submit() }} </p>
    </div>
</form>


</body>
</html>